<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}" />
    </head>
    <body>
        <h3>Login to access content:</h3>
        <form action="/login" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
            <button type="submit">Login</button>
        </form>
        {% if error %}
        <h1>Error: {{ error }}!</h1>
        {% endif %}
        <small>PS: If you do not know what this is for, you are in the wrong place. &#128512;</small>
    <body>
</html>