<html>
    <navbar>
        <h3>Which page's content would you like to modify?</h3>
        <ul>
            <li>
                <a href="/home">Home Page</a>
            </li>
            <li>
                <a href="/music">Music</a>
            </li>
            <li>
                <a href="/blog">Blog</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/socials">Socials</a>
            </li>
        </ul>
        
        <form action="/logout" method="GET">
            <button type="submit">Log out</button>
        </form>
    </navbar>

    <h3>
        <a href="/add_song">Add a song</a>
    </h3>
    <p>You cannot delete a song that is pinned. To delete a song that is pinned, replace it with another song, then delete it.</p>
    
    {% if feedback %}
    <h3>{{ feedback }}</h3>
    {% endif %}

    <h4>Pinned songs: </h4>
    <small>Restricted to 3 for now. Can go more, but I tink shouldn't pin too much. Lmk if want more.</small>
    <br />
    <br>
    {% for pin in pinned %}
        <div>
            <a target="_blank" rel="noopener noreferrer" href="{{pin[1]}}">{{pin[0]}}</a>
            <form action="/replace_pin" method="POST" style="display:inline" >
                <input type="text" name="song_title" value="{{pin[0]}}" style="display:none">
                <input type="text" name="song_link" value="{{pin[1]}}" style="display:none">
                <button type="submit">Replace</button>
            </form>
        <div>
    {% endfor %}

    <br>
    <br>
    <h4>Songs under original: </h4>
    {% for org in originals %}
        <div>
            <a target="_blank" rel="noopener noreferrer" href="{{org[1]}}">{{org[0]}}</a>
            <form action="/edit_song_info" method="POST" style="display:inline" >
                <input type="text" name="song_title" value="{{org[0]}}" style="display:none">
                <input type="text" name="song_link" value="{{org[1]}}" style="display:none">
                <button type="submit">Edit song info</button>
            </form>
            <form action="/delete_song" method="POST" style="display:inline" >
                <input type="text" name="song_title" value="{{org[0]}}" style="display:none">
                <input type="text" name="song_link" value="{{org[1]}}" style="display:none">
                <button type="submit" {{"disabled" if org[3]}}>Delete</button>
            </form>
            
        <div>
    {% endfor %}

    <br>
    <br>
    <h4>Songs under covers: </h4>
    {% for cov in covers %}
        <div>
            <a target="_blank" rel="noopener noreferrer" href="{{cov[1]}}">{{cov[0]}}</a>
            <form action="/edit_song_info" method="POST" style="display:inline" >
                <input type="text" name="song_title" value="{{cov[0]}}" style="display:none">
                <input type="text" name="song_link" value="{{cov[1]}}" style="display:none">
                <button type="submit">Edit song info</button>
            </form>
            <form action="/delete_song" method="POST" style="display:inline" >
                <input type="text" name="song_title" value="{{cov[0]}}" style="display:none">
                <input type="text" name="song_link" value="{{cov[1]}}" style="display:none">
                <button type="submit" {{"disabled" if cov[3]}}>Delete</button>
            </form>
        <div>
    {% endfor %}
    <br>
    <br>
    
</html>